footer {
    background-color: #415A77;
    color: white;
    padding: 18px 0;
}

.separator::after{
    content: "|";
    margin: 0 12px; 
}

footer i {
    margin-right: 6px;
}

footer a {
    color: white !important;
}

@media screen and (max-width: 768px) {
    footer .container {
        flex-direction: column;
        /* align-items: center; */
        text-align: center;
    }

    .separator {
        display: none;
    }

    footer a {
        margin-top: 6px;
        display: block;
    }
}