.nav-menu {
    background-color: #FFFFFF;
}

.nav-menu .container {
    padding: 12px 0;
}

.nav-menu a {
    margin: 0 16px;
    color: #415A77;
    border-bottom: 2px solid transparent;
}

.nav-menu a:hover {
    color: #0D1B2A;
    border-bottom: 2px solid #415A77;
    transition: 0.3s;

}

